.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
}

td {
  border-collapse: separate;
  border: #556270 5px solid;
}
